<!-- <p-panel header="CONOSCENZE LINGUISTICHE" [toggleable]="true">
    <div class="p-grid"> <span> <br> Madrelingua: <br>
            <input placeholder="la tua lingua madre" pInputText type="text" formControlName="linguaMadre"
                id="linguaMadre">
        </span>
    </div> <br>
    
    <div class="p-grid">
        <div class="p-col">Inglese </div>

        <div class="p-col"> scritto :
            <p-dropdown [options]="grado" placeholder="gradoIngleseScritto" [showClear]="true"></p-dropdown>
        </div>
        <div class="p-col"> parlato :
            <p-dropdown [options]="grado" placeholder="gradoIngleseParlato" [showClear]="true"></p-dropdown>
        </div>


    </div>



    <div class="p-grid">
        <div class="p-col">Francese </div>

        <div class="p-col"> scritto :
            <p-dropdown [options]="grado" placeholder="gradoFranceseScritto" [showClear]="true"></p-dropdown>
        </div>
        <div class="p-col"> parlato :
            <p-dropdown [options]="grado" placeholder="gradoFranceseParlato" [showClear]="true"></p-dropdown>
        </div>


    </div>
    
    <div class="p-grid">
        <div class="p-col">Tedesco </div>

        <div class="p-col"> scritto :
            <p-dropdown [options]="grado" placeholder="gradoTedescoScritto" [showClear]="true"></p-dropdown>
        </div>
        <div class="p-col"> parlato :
            <p-dropdown [options]="grado" placeholder="gradoTedescoParlato" [showClear]="true"></p-dropdown>
        </div>


    </div>
    
    <div class="p-grid">
        <div class="p-col">Altro </div>

        <div class="p-col"> scritto :
            <p-dropdown [options]="grado" placeholder="gradoScrittoAltraLingua" [showClear]="true"></p-dropdown>
        </div>
        <div class="p-col"> parlato :
            <p-dropdown [options]="grado" placeholder="gradoParlatoAltraLingua" [showClear]="true"></p-dropdown>
        </div>


    </div>






</p-panel> -->