<!-- <p-panel header="INFORMAZIONI AGGIUNTIVE" [toggleable]="true">
    <div class="ui-g"> Disponibilità a trasferte in Italia/Estero : <br>
        <p-radioButton name="group1" value="Si" label="Si" inputId="si"></p-radioButton>
        <p-radioButton name="group1" value="No" label="No" inputId="no"></p-radioButton>
 </div> <br> 
        <div class="ui-g">  
            Indicare disponibilità sulla durata della trasferta:  <br>
            <input placeholder="disponibilità durata" pInputText type="text" formControlName="durataTrasferta"
                id="durataTrasferta">
        </div>
  <br>
  <div class="ui-g"> 
       Disponibilità ad accettare un contratto a termine : <br>
    <p-radioButton name="group1" value="Si" label="Si" inputId="si"></p-radioButton>
    <p-radioButton name="group1" value="No" label="No" inputId="no"></p-radioButton> </div> 
<br> 
<div class="ui-g"> 
Come ha conosciuto il nostro gruppo (amici,parenti,internet,etc.) <br></div>
<textarea rows="5" cols="30" pInputTextarea></textarea> <br>



<div class="ui-g"> <span>  Il candidato dichiara di autorizzare il trattamento dei dati personali, contenuti nel CV ai sensi del
    D,Lgs, 30/06/2003, n. 196 e art 13 GDPR 679/16
    <p-radioButton name="group1" value="Si" label="Si" inputId="si"></p-radioButton>
    <p-radioButton name="group1" value="No" label="No" inputId="no"></p-radioButton></span>
</div> 
        </p-panel> -->