<!-- <p-panel header="ESPERIENZE PROFESSIONALI(INDICARE L'ULTIMA ESPERIENZA)" [toggleable]="true"
    [style]="{'margin-bottom':'20px'}">

    <div class="p-grid">
        <div class="p-col">Società <br><input placeholder="inserisci la società" pInputText type="text"
                formControlName="societa" id="societa"> </div>
        <div class="p-col">Città <br><input placeholder="inserisci la città" pInputText type="text" formControlName="citta"
                id="citta"> </div>
    </div> <br>

    <div class="p-grid">
        <div class="p-col">Referente <br><input placeholder="inserisci il referente" pInputText type="text"
                formControlName="referente" id="referente"> </div>

        <div class="p-col"> <span> Possibilità di contattare il supervisore per referenze?<br>


                <p-radioButton name="group1" value="Si" label="Si" inputId="si"></p-radioButton>
                <p-radioButton name="group1" value="No" label="No" inputId="no"></p-radioButton>

            </span>
        </div>
    </div> 

    <div class="p-grid">
        <div class="p-col">Dal <br><input placeholder="inserisci la data" pInputText type="date"
            formControlName="dataInizioProfessione" id="dataInizioProfessione"></div>
        <div class="p-col">Al <br><input placeholder="inserisci la data" pInputText type="date"
            formControlName="dataFineProfessione" id="dataFineProfessione"> </div>
    </div> <br>
    <div class="p-col"> <span> Posizione ricoperta <br><input placeholder="inserisci la posizione" pInputText type="text"
            formControlName="posizione" id="posizione"> </span></div> 

            <div class="p-col"> <br> Breve descrizione dell'attività </div>
    <textarea rows="5" cols="30" pInputTextarea></textarea> 

    <div class="p-col">  <span>     <br> Tipologia di Contratto <br>
        <input placeholder="tipo di contratto" pInputText type="text" formControlName="tipologiaContratto"
            id="tipologiaContratto">
        </span> 
    </div> <br>

    <div class="p-col"> <span>  Livello di Inquadramento<br>
        <input placeholder="livello inquadramento" pInputText type="text" formControlName="livelloDiInquadramento"
            id="livelloDiInquadramento">
        </span> 
    </div> <br> 

    <div class="p-col"><span>  RAL <br>
        <input placeholder="RAL" pInputText type="number" formControlName="ral" id="ral">
    </span> 
    </div>
</p-panel> -->