<!-- <p-panel header="CONOSCENZE INFORMATICHE" [toggleable]="true">
<div class ="p-col">
<br> Conoscenze pacchetto Office
<p-checkbox name="group2" value="Word" label="Word" inputId="Word"></p-checkbox>
        <p-checkbox name="group2" value="Excel" label="Excel " inputId="Excel"></p-checkbox>
        <p-checkbox name="group2" value="Power Point" label="Power Point " inputId="Power Point"></p-checkbox>
        <p-checkbox name="group2" value="Outlook" label="Outlook " inputId="Outlook">
        </p-checkbox></div> <br>
    
    
        <div class="p-col"> <span> Altre conoscenze:
            <input placeholder="altre conoscenze" pInputText type="text" formControlName="altreConoscenze"
                id="altreConoscenze">
        </span>
    </div>
    </p-panel>

         -->