 <p-panel header="ISTRUZIONE(INDICARE L'ULTIMO TITOLO CONSEGUITO/DA CONSEGUIRE)" [toggleable]="true"
    [style]="{'margin-bottom':'20px'}">
    <div class="p-col">Titolo Di Studio <br><input placeholder="inserisci il titolo di studio" pInputText type="text"
        [(ngModel)]="titoloStudio.DES_TIT" name="titoloStudio"> </div>
  <!--  <div class="p-grid">
        <div class="p-col">Titolo di studio <br><input placeholder="inserisci il titolo di studio" pInputText type="text"
                formControlName="titoloDiStudio" id="titoloDiStudio"> </div>
        <div class="p-col">Istituto/Università <br><input placeholder="inserisci l'istituto o l'università" pInputText
                type="text" formControlName="istituto" id="istituto"> </div>
    </div><br>

    <div class="p-grid">
        <div class="p-col">Conseguito il <br><input placeholder="inserisci la data" pInputText type="date"
            formControlName="dataConseguimento" id="dataConseguimento"> </div>
        <div class="p-col">Votazione finale <br><input placeholder="inserisci la votazione finale" pInputText type="number"
                formControlName="voto" id="voto"> </div>
    </div>-->

</p-panel> 

